/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(255,255,255);
  
  background-color: rgb(132,157,143); 
}

a {
  color: rgb(255,255,255);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.btn {
  padding: 0;
  
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: rgb(254,254,254);
  
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(242,104,67)), to(rgb(231,74,53)));
  
  background: linear-gradient(rgb(242,104,67), rgb(231,74,53));
  border: none;
  border-radius: 17% / 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(245,134,105)), to(rgb(236,111,94)));
  background: linear-gradient(to bottom, rgb(245,134,105) 0%, rgb(236,111,94) 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1); 
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(216,71,50)), to(rgb(225,97,62)));
  background: linear-gradient(to bottom, rgb(216,71,50) 0%, rgb(225,97,62) 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.input-actions {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(50,50,50);
  
  border-radius: 5px;
  border: 1px solid rgb(211,211,210);  
}

.input-actions:hover {
  border: 2px solid rgb(154,154,154);
  padding-left: 14px; 
}

.input-actions:focus {
  border: 2px solid rgba(46,136,228,0.52);
  padding-left: 14px;
}

.input-actions::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(153,153,153); 
}

.input-actions:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(153,153,153); 
}

.container {
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  
  font-weight: 700;
  line-height: 18px;
}

.navigation-main__logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
}

.navigation-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 385px;
  margin: 0;
  margin-top: 23px;
  margin-left: 10px;
  padding: 0;
  
  list-style: none;
}


.navigation-site__item {
  margin-right: 1px;
}

.navigation-site__item-link {
  padding: 7px 0;
}

.navigation-site__item > a {
  display: block;
  height: 25px;
  padding: 7px 13px 0px 14px;
  
  border-radius: 25px; 
}

.navigation-site__item:first-child {
  position: relative; 
}

.navigation-site__item:hover .navigation-site__item-link,
.navigation-site__item-link:focus {
  background-color: rgb(247,246,243);
  color: rgb(50,50,50);
  border-bottom: none;
}  

.navigation-site__item span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-site__item-link:hover span {
  border-bottom: none;
} 

.navigation-catalog__wrapper {
  background-color: transparent;
  min-height: 171px;
  width: 143px;
  position: absolute;
  left: -7px;
  top: 32px;
  padding-top: 0px;
  display: none;
}

.navigation-catalog {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 143px;
  top: 5px;
  left: 0px;
  padding-bottom: 6px;
  
  z-index: 1;
  
  background-color: rgb(248,247,244);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.navigation-site__item:hover .navigation-catalog__wrapper {
  display: block;
}

.navigation-catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  line-height: 16px;
  
  list-style: none;
}

.navigation-catalog__item a {
  display: block;
  
  padding-left: 20px;
  width: 100%;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 6px;
}

.navigation-catalog__item:first-child {
  margin: 5px 0;
  position: relative;
}

.navigation-catalog__item:first-child::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  height: 1px;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 6px;
  
  background-color: rgba(50,50,50,0.2);
  
  z-index: 20;
}

.navigation-catalog__item:nth-child(2) {
  margin: 10px 0 4px 0;
}

.navigation-catalog__item:nth-child(4) {
  margin: 2px 0;
}

.navigation-catalog__item:last-child {
  margin-top: 3px;
  border-radius: 0 0 5px 5px;
}

.navigation-catalog__item a {
  color: rgb(50,50,50);
  
  font-size: 14px;
}

.navigation-catalog__item:first-of-type {
  font-weight: 700;
}

.navigation-catalog__item:hover a {
  background-color: rgb(251,222,215);
}

.navigation-catalog__item:active a {
  background-color: rgb(246,181,165);
}

.navigation-catalog__item--visiting {
  background-color: rgb(208,112,88); 
}

.navigation-aux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 262px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 55px;
  
  list-style: none;
}
  
.navigation-user span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.navigation-user__item {
  position: relative;
  margin-top: 23px;
}

.navigation-user__item:not(:last-child):hover path,
.navigation-user__item:not(:last-child):hover polygon {
  fill: rgb(51,51,51); 
}

.navigation-user__item span {
  background: rgba(255,255,255,0.2);
}

.navigation-user__item:not(:last-of-type):hover > span,
.cart-fill > span {
  color: rgb(50,50,50);
  
  background-color: rgb(248,247,244);
  cursor: default;
}

.navigation-user__item:last-of-type:hover {
  cursor: default; 
}

.navigation-user__item-search {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2)
}

.navigation-user__item-search svg {
  position: absolute;
  top: 7px;
  left: 7px;
}

.navigation-user__search-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 121px;
  
  display: none;
  z-index: 1;
}

.navigation-user__search-hover:hover .navigation-user__search-wrapper {
  display: block; 
}

.navigation-user__search-area {
  width: 341px;
  height: 84px;
  position: absolute;
  top: 36px;
  right: 0;
  
  background-color: rgb(248,247,244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  
  border-radius: 5px;
}

.search-form {
  padding: 20px 15px 0px;
}

.search-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding-left: 15px;
}

.navigation-user__login-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -4px;
  width: 93px;
  height: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  display: none;
  z-index: 1;
}

.navigation-user__login-hover:hover .navigation-user__login-wrapper {
  display: block; 
}

.navigation-user__login-area {
  position: absolute;
  right: 2px;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 277px; 
  height: 214px;
  margin-top: 36px;
  padding: 20px 17px 0px 19px;
  font-size: 0;
  
  background-color: rgb(248,247,244);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.navigation-user__item-login {
  display: block;
  width: 92px;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
  padding: 8px 19px 8px 44px;
  margin-left: 10px;
  border-radius: 25px;
}

.navigation-user__item-login svg {
  position: absolute;
  left: 26px;
  top: 6px;
}

.form-login p {
  margin: 0;
  padding: 0;
}

.form-login__items input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  
  font-size: 14px;
  line-height: 24px;
  color: rgb(50,50,50);
  
  border-radius: 5px;
  border: 1px solid rgb(211,211,210);   
}

.form-login__pass input {
  margin-top: 20px;
}

.form-login__btn {
  width: 100px;
  height: 44px;
}

.form-login__user-reg {
  margin: 0;
  margin-top: 2px;
  margin-right: -1px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-login__user-reg li {
  background-color: rgb(248,247,244);
  list-style: none;
  
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.form-login__user-reg a {
  font-size: 13px;
  font-weight: 400;
  
  color: rgb(50, 50, 50);
  border-bottom: 1px solid rgba(50,50,50,0.3);
}

.form-login__user-reg a:hover, .form-login__user-reg a:active {
  color: rgb(232, 77, 55);
  border-bottom: 1px solid rgba(232,77,55,0.3);
}

.form-login__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 238px;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.header__contacts {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.header__contacts span {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 4px;
  margin-right: -1px;
  
  font-size: 22px;
  line-height: 24px;
}

/*Слайдер - начало*/

.site-wrapper {
  min-width: 940px;
  background-color: rgb(132,157,143);
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
  
  z-index: -5;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider {
  position: relative;
  
  padding-top: 275px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248,247,244,0.4); 
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*Слайдер - конец*/

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 43px;
  height: 229px;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 560px;
  font-size: 0px;
  font-weight: 700;
}

.promo__item:first-of-type {
  background-image: url("../img/background-raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 14px;
}

.promo__item:last-of-type {
  background-image: url("../img/background-choco.jpg");
  background-repeat: no-repeat;
  border-radius: 14px;
}

.promo__item-title {
  margin: 0;
  margin-top: 16px;
  margin-left: 18px;
  padding: 0;
  
  font-size: 35px; 
  line-height: 41px;
}

.promo__item-content {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 20px;
  max-width: 540px;
  
  font-size: 18px;
}

.promo__item-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 21px;
  padding-top: 10px;
  padding-left: 21px;
  padding-right: 22px;
  padding-bottom: 12px;
  margin-top: 44px;
  
  border-radius: 23px / 23px;
}

.promo__item--berry .promo__item-btn {
  padding-left: 22px;
  padding-right: 23px;
}

.promo__item--choko .promo__item-btn {
  padding-top: 9px;
}

.best-sellers__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  list-style: none;
}

.best-sellers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px 0px 38px 0px;
}

.best-sellers__item-link {
  margin-top: 13px;
  width: 267px;
  
  text-align: center;
  font-weight: 500;
  
  position: relative;
  z-index: 2;
}

.best-sellers__item-link span {
  border-bottom: 1px solid rgba(255,255,255,0.2);   
}

.best-sellers__item-link:hover span,
.best-sellers__item-link:active span {
  color: rgb(255,188,158);
  border-bottom: 1px solid rgba(255,188,158,0.3)
}

.best-sellers__item-pic {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  
  position: relative;
  z-index: 2;
}

.best-sellers__item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 40px;
  left: 0px;
  
  background-image: url("../img/best-seller-mark.svg");
  border-radius: 50%;
  z-index: 3;
}

.best-sellers__item-price {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 249px;
  
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  
  z-index: 2;
}

.best-sellers__item-price,
.best-sellers__item-price span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);  
}

.best-sellers__item-price span {
  margin-left: 36px;
  font-size: 30px;
}

.best-sellers__item-price svg {
 position: absolute;
  width: 31px;
  height: 36px;
  top: 6px;
  left: 80px;
}

.svg-shadow {
  -webkit-filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
          filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
}

.best-sellers__item-background {
  position: absolute;
  width: 280px;
  height: 100%;
  top: 36px;
  left: -6px;
  display: none;
  
  background: rgba(255,255,255,0.2);
  z-index: 1;
}

.best-sellers__item:hover .best-sellers__item-background {
  display: block; 
}

.best-sellers__btn {
  display: block;
  margin: 0 auto;
  margin-top: 340px;
  padding: 10px 17px;
  
  border-radius: 18px / 21px;
}

.about-shop {
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 2px;
  
  background-image: url("../img/pattern-waffle.jpg");
  background-repeat: repeat repeat;
  background-position: left 151px bottom 57px;
  border-radius: 14px;
  
  position: relative;
  z-index: 0;
}

.about-shop__title {
  margin: 0;
  
  
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  
  color: rgb(50,50,50);
}

.about-shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 22px;
  margin: 0;
  
  list-style: none;
}

.about-shop__item {
  padding-left: 55px;
  padding-bottom: 22px;
  width: 538px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  
  color: rgb(50,50,50);
}

.about-shop__item:nth-child(2n+1) {
  padding-left: 56px; 
}

.about-shop__item::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: -13px;
  left: 0;
}

.about-shop__item:nth-of-type(2n)::before {
  left: -3px; 
}

.about-shop__item:first-of-type::before {
  background-image: url("../img/about-shop-icon-icecream.svg"); 
}

.about-shop__item:nth-of-type(2)::before {
  background-image: url("../img/about-shop-icon-cow.svg"); 
}

.about-shop__item:nth-of-type(3)::before {
  background-image: url("../img/about-shop-icon-leaf.svg"); 
}

.about-shop__item:nth-of-type(4)::before {
  background-image: url("../img/about-shop-icon-thermo.svg"); 
}

.community-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.community-content {
  margin: 40px 0;
}

.blog-news {
  width: 540px;
  padding-top: 23px;
  padding-left: 20px;
  padding-bottom: 81px;
  
  background-image: url("../img/background-strawberry.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: -52px -224px;
  border-radius: 14px;
}

.blog-news__title {
  margin: 0;
  padding: 0;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  
  color: rgb(50,50,50);
}

.blog-news__link {
  display: block;
  width: 285px;
  margin-top: 4px;
  
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(50,50,50);
  text-decoration: underline;
}

.blog-news__link:hover,
.blog-news__link:active {
  color: rgb(232, 77, 55);
}

.subscription {
  width: 549px;
  padding: 5px 5px 5px 6px;
  
  background: repeating-linear-gradient(-45deg, rgb(255,255,255), rgb(255,255,255) 7px, rgb(146,205,255) 7px, rgb(146,205,255) 14px, rgb(255,255,255) 14px, rgb(255,255,255) 21px, rgb(254,158,144) 21px, rgb(254,158,144) 28px);
  border-radius: 14px;
}

.subscription-area {
  height: 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  padding-bottom: 35px;
  
  background-color: rgb(251,252,251);
  border-radius: 14px;
}

.subscription__content {
  margin: 0;
  margin-left: 21px;
  padding: 0;
  display: block;
  padding-top: 29px;
  
  color: rgb(90,90,90);
}

.subscription__form {
  height: 100px;
  margin-top: 35px;
  margin-left: 20px;
}

.subscription__form input {
  width: 368px;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(50,50,50);
  
  border-radius: 5px;
  border: 1px solid rgb(211,211,210);    
}

.subscription__form input:hover {
  border: 2px solid rgb(154,154,154);
  padding-left: 13px;
  padding-top: 8px;
}

.subscription__form input:focus {
  border: 2px solid rgba(46,136,228,0.52);
  padding-left: 13px;
  padding-top: 8px;
}

.subscription__form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(153,153,153); 
}

.subscription__form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(153,153,153); 
}

.subsctiption-btn {
  
  margin-left: 9px;
  padding-top: 9px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 11px;
  
  border-radius: 23px;   
}

.full-contacts {
  padding: 0 0px;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 429px;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 302px;
  position: absolute;
  top: 62px;
  right: 27px;
  padding-top: 29px;
  padding-right: 0px;
  padding-left: 25px;
  
  color: rgb(50,50,50);
  background-color: rgb(255,255,255);
  border-radius: 15px;
}

.contact-details::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 140px;
  top: 76px;
  left: -605px;
  
  background-image: url("../img/map-pin-icecream.svg");
  z-index: 1;
}

.contact-details::after {
  content: "";
  position: absolute;
  width: 182px;
  height: 110px;
  top: 108px;
  left: -569px;
  
  background-image: url("../img/map-pin-shadow.png");
}

.contact-details h3,
.contact-details p {
  margin: 0;
  padding: 0;
}

.contact-details p:first-of-type {
  display: block;
  width: 225px;
  margin-top: 1px;
}

.contact-details__location {
  display: block;
  width: 150px;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact-details__location + p {
  margin: 0;
  padding: 0;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contact-details .contact-details__phone {
  display: block;
  display: block;
  margin-top: 18px;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact-details p:nth-of-type(2) {
  display: block;
  margin-top: 6px;
}

.contact-details p:last-of-type {
  display: block;
  margin-top: 1px;
  
  font-size: 14px;
  line-height: 22px;
}

.contact-details p:nth-last-of-type(2) {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.btn-feedback {
  display: block;
  margin-top: 23px;
  margin-bottom: 31px;
  padding-top: 9px;
  padding-left: 28px;
  padding-right: 27px;
  padding-bottom: 11px;
  
  border-radius: 23px;
}

/*Модалка - начало*/

.feedback-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 50vw;
  
  display: none;
  
  background-color: rgba(0,0,0,0.3);
  z-index: 5;
}

.feedback-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 477px;
  margin-left: -245px;
  margin-top: 338px;
  padding: 16px 23px 27px 24px;
  position: relative;
  
  background-color: rgb(248,247,244);
  border-radius: 10px;
}

.feedback-form b {
  margin-left: -1px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  
  color: rgb(50,50,50);
}

.feedback-form__content {
  margin-top: 19px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 13px;
  
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(50,50,50);
  
  border-radius: 5px;
  border: 1px solid rgb(211,211,210);   
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form__content textarea:hover {
  border: 2px solid rgb(154,154,154);
  padding-left: 12px;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form__content textarea:focus {
  border: 2px solid rgba(46,136,228,0.52);
  padding-left: 12px;
}

.feedback-form__content textarea:hover,
.feedback-form__content textarea:focus {
  padding-top: 7px; 
}

.feedback-form input[type="text"]::-webkit-input-placeholder,
.feedback-form input[type="email"]::-webkit-input-placeholder,
.feedback-form__content textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: rgb(153,153,153); 
}

.feedback-form input[type="text"]:-ms-input-placeholder,
.feedback-form input[type="email"]:-ms-input-placeholder,
.feedback-form__content textarea:-ms-input-placeholder {
  font-weight: 400;
  color: rgb(153,153,153);
}

.feedback-form__content textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 155px;
  padding-top: 8px;
  padding-left: 13px;
  padding-right: 12px;
  
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(50,50,50);
  
  border-radius: 5px;
  border: 1px solid rgb(211,211,210);
  
  resize: none;
}

.feedback-form__content p {
  margin: 0;
  padding: 0;
}

.feedback-form__btn {
  display: block;
  
  margin-top: 18px;
  margin-left: 290px;
  padding-top: 9px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 11px;
  
  border-radius: 23px;  
}

.feedback__btn-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 18px;
  
  cursor: pointer;
  
  border: none;
  background-color: transparent;
}

.feedback__btn-close::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 2px;
  
  -webkit-transform: rotate(45deg);
  
          transform: rotate(45deg);
  
  background-color: rgb(0,0,0);
}

.feedback__btn-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 2px;
  
  -webkit-transform: rotate(-45deg);
  
          transform: rotate(-45deg);
  
  background-color: rgb(0,0,0);
}


/*Модалка - конец*/

.social, .about {
  list-style: none;
}

.social a {
  color: rgb(50,50,50);
}

.about__item a{
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  
  border-bottom: 1px solid rgba(255,255,255,0.2)
}

.info__item--suppliers a {
  font-weight: 700;
}
/*Каталог*/

.navigation-user__item-cart {
  display: inline-block;
  width: 117px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 0px 8px 44px;
  margin-left: 10px;
  border-radius: 25px;
}

.navigation-user__item-cart svg {
  position: absolute;
  top: 6px;
  left: 26px;
}

.navigation-user__item-cart polygon {
  fill: rgba(255,255,255,0.2); 
}

.user-cart__wrapper {
  position: absolute;
  width: 117px;
  height: 280px;
  top: 0;
  right: 0;
  display: none;
  
  z-index: 1;
}

/*Корзина с товарами*/

.cart-fill:hover .user-cart__wrapper {
  display: block; 
}

.cart-fill path,
.cart-fill circle {
  fill: rgb(52,52,52); 
}

.cart-fill polygon {
  fill: rgb(232,77,55); 
}

.user-cart { 
  position: absolute;
  width: 510px;
  padding: 8px 15px 21px 15px;
  top: 36px;
  right: 0;
  
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(50,50,50);
  
  background: rgb(248,247,244);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-cart__content {
  width: 100%;
  border-collapse: collapse;
}

.user-cart__content-row:not(:last-child) td {
  
  vertical-align: baseline;
}

.user-cart__content-img,
.user-cart__content-name {
  padding: 21px 0px 16px 0; 
}

.user-cart__content-img {
  position: relative;
  width:72px;
}

.user-cart__content-price {
  padding-left: 31px;
  
  width: 104px;
  text-align: left;
}

.user-cart__content-price span {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: rgb(153,153,153);
}

.user-cart__content-total {
  text-align: center;
}

.user-cart__content-img::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 23px;
  width: 11px;
  height: 11px;
  
  background-image: url("../img/shopping-cart-close.svg");
  background-repeat: no-repeat;
}

.user-cart__content-row:first-child .user-cart__content-img::before {
  top: 22px;
}

.user-cart__content-row:first-of-type .user-cart__content-img::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 12px;
  width: 33px;
  height: 33px;
  
  background-image: url("../img/cart-item-1.png");
  background-size: cover; 
}

.user-cart__content-row:nth-of-type(2) .user-cart__content-img::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 12px;
  width: 33px;
  height: 33px;
  
  background-image: url("../img/cart-item-2.png");
  background-size: cover; 
}

.user-cart__content-name {
  width: 216px; 
}

.user-cart__content-grandtotal {
  padding: 14px 0 14px 0px;
  
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
  
  border-top: 1px solid rgb(202,202,199);
}

.btn-cart {
  width: 170px; 
  height: 44px;
  padding-bottom: 2px;
  margin-left: 340px;
  
  border-radius: 18px / 22px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 27px;
  top: -20px;
  
  font-size: 14px;
  line-height: 16px;
  
  list-style: none;
}

.breadcrumbs__item {
  position: relative; 
}

.breadcrumbs__item:not(:last-of-type) {
  margin-right: 21px;   
}

.breadcrumbs__item:not(:last-of-type) a {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.breadcrumbs__item:not(:first-of-type)::before {
  content: "\00bb";
  position: absolute;
  top: 0;
  left: -14px;
}

.breadcrumbs__item:hover:not(:last-of-type) a, 
.breadcrumbs__item:active:not(:last-of-type) a {
  color: rgb(255,188,158);
  border-bottom: 1px solid rgba(255,188,158,0.3)
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.filter {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 870px;
}

.filter__item {
  margin: 0;
  padding: 0;
  position: relative;
  
  border: 0; 
}

.filter__item legend {
  padding-left: 16px;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter__item label,  
.filter__item option {
  font-weight: 500;
  line-height: 18px;
}

/*Выпадающий список - начало*/

.filter__item select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 191px;
  height: 36px;
  margin-top: 6px;
  margin-left: -2px;
  padding: 0px 0px 0px 13px;
  box-sizing: border-box;
  
  font-size: 16px;
  line-height: 18px;
  
  color: rgb(255,255,255);
  
  border: none;
  border-radius: 16px;
  background-color: rgba(248,247,244,0.2);
  -moz-appearance: window;
  -webkit-appearance: none;
}

.sort__option {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(50,50,50);
}

.sort-list {
  position: relative;
  
  font-size: 0;
}

.sort-list::before {
  content: "";
  position: absolute;
  top: -11px;
  right: -179px;
  width: 11px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  background-color: transparent;
  border-top: 10px solid white;
  border-left: 5px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 5px solid transparent;
  
  pointer-events: none;
}

.filter__item:first-of-type select:hover {
  font-weight: 500;
  color: rgb(50,50,50);
}

.filter__item:first-of-type select:active,
.filter__item:first-of-type:hover select
{
  background-color: white;
}

.filter__item:first-of-type:hover .sort-list::before {
  border-top: 10px solid rgb(35,31,32); 
}

/*Выпадающий список - конец*/

/*Ползунок - начало*/

.filter__item:nth-of-type(2) legend {
  margin-left: 15px;
}

.filter-range__controls {
  margin-top: 6px;
  margin-left: 16px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 22px;
  width: 219px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  
  background-color: rgba(255,255,255,0.2);
  
  border-radius: 18px;
}

.filter-range__scale { 
  height: 4px;

  background: rgba(248,247,244,0.5); 
}

.filter-range__scale-bar {
  height: 4px;
  width: 100px;
  margin-left: 23px;
  
  background: rgba(248,247,244,1);
}

.filter-range__toggle { 
  height: 20px;
  width: 20px;
  background-color: rgb(171,171,171);
  border-radius: 50%;
  border: 8px solid rgb(255,255,255);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.filter-range__toggle-min {
  top: 8px;
  left: 35px;
}

.filter-range__toggle-max {
  top: 8px;
  left: 133px;
}

/*Ползунок - конец*/

/*Фильтр жирности - начало*/

.filter__item:nth-of-type(3) {
  margin-left: 14px;
}

.filter__item:nth-of-type(3) legend {
  margin-bottom: 14px;
}

.filter__item:nth-of-type(3) input[type="radio"] {
  display: none;
}

.filter__item:nth-of-type(3) label {
  margin-left: 46px;
  position: relative;
}

.filter__item:nth-of-type(3) label:last-of-type {
  margin-left: 45px;
  position: relative;
}

.filter__item:nth-of-type(3) label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255,255,255,0.8);
  border-radius: 50%;
}

.filter__item:nth-of-type(3) label:hover::before {
  border: 3px solid rgba(255,255,255,1);
}

.filter__item:nth-of-type(3) label:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0px;
  height: 0px;
  border: 4px solid rgba(255,255,255,0.8);
  border-radius: 50%;
}

.filter__item:nth-of-type(3) label:nth-of-type(2):hover::after {
  border: 4px solid rgba(255,255,255,1);
}

.filter__fat-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}

.filter__fat-wrapper::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 1px;
  width: 415px;
  height: 36px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;  
}

/*Фильтр жирности - конец*/

/*Выбор наполнителей - начало*/

.filter__item:nth-of-type(4) {
  margin-top: 16px;
  padding-bottom: 7px;
  
  position: relative;
}

.filter__item:nth-of-type(4) input[type="checkbox"] {
  display: none;
}

.filter__item:nth-of-type(4) legend {
  margin-bottom: 13px;
}

.filter__item:nth-of-type(4) label {
  position: relative;
}

.filter__item:nth-of-type(4) label:first-of-type,
.filter__item:nth-of-type(4) label:nth-of-type(2){
  margin-left: 16px;
  padding-left: 32px;
}

.filter__item:nth-of-type(4) label:first-of-type::before,
.filter__item:nth-of-type(4) label:nth-of-type(2)::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  top: 0px;
  left: -2px;
  
  background-image: url("../img/filter-checkbox-on.svg");
}

.filter__item:nth-of-type(4) label:first-of-type:hover::before,
.filter__item:nth-of-type(4) label:nth-of-type(2):hover::before {
  background-image: url("../img/filter-checkbox-on-hover.svg");
}

.filter__item:nth-of-type(4) label:nth-of-type(3) {
  margin-left: 17px;
  padding-left: 32px;
}

.filter__item:nth-of-type(4) label:nth-of-type(4) {
  margin-left: 19px;
  padding-left: 32px;
}

.filter__item:nth-of-type(4) label:nth-of-type(5) {
  margin-left: 18px;
  padding-left: 32px;
}

.filter__item:nth-of-type(4) label:nth-of-type(3)::before,
.filter__item:nth-of-type(4) label:nth-of-type(4)::before,
.filter__item:nth-of-type(4) label:nth-of-type(5)::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0px;
  left: -1px;
  
  border: 2px solid rgba(255,255,255,0.8);
  border-radius: 2px;
}

.filter__item:nth-of-type(4) label:nth-of-type(4)::before {
  left: 1px; 
}

.filter__item:nth-of-type(4) label:nth-of-type(3):hover::before,
.filter__item:nth-of-type(4) label:nth-of-type(4):hover::before,
.filter__item:nth-of-type(4) label:nth-of-type(5):hover::before {
  border: 2px solid rgba(255,255,255,1);  
}

.filter__fill-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}

.filter__fill-wrapper:before {
  content: "";
  position: absolute;
  top: -7px;
  left:0px;
  width: 702px;
  height: 36px;
  
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
}

/*Выбор наполнителей - конец*/

/*Кнопка фильтра - начало*/

.filter__btn {
  display: block;
  padding: 0;
  padding: 0px 27px 0 27px;;
  margin-top: 38px;
  margin-left: 32px;
  height: 36px;
  
  font-weight: 500;
  line-height: 18px;
  color: rgb(255,255,255);
  
  background-color: rgb(166,183,174);
  border: 2px solid rgb(255,255,255);
  border-radius: 18px;
}

.filter__btn:hover {
  color: rgb(50,50,50);
  
  background-color: rgb(255,255,255);
  border: 2px solid rgb(255,255,255);
}

.filter__btn:active {
  color: rgb(50,50,50);
  
  background-color: rgb(237,237,237);
  border: 2px solid rgb(237,237,237);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1); 
}

/*Кнопка фильтра - конец*/

/*Стилизация каталога - начало*/

.catalog {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  
  list-style: none;
}

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  margin-bottom: 38px;
}

.catalog__item-link {
  margin-top: 13px;
  max-width: 256px;
  
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  
  position: relative;
  z-index: 4;
}

.catalog__item-link span {
   border-bottom: 1px solid rgba(255,255,255,0.2);
}

.catalog__item-link:hover span,
.catalog__item-link:active span {
  color: rgb(255,188,158);
  border-bottom: 1px solid rgba(255,188,158,0.3)
}

.catalog__item-pic {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  
  position: relative;
  z-index: 2;
}

.catalog__item-price {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 210px;
  
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  
  z-index: 2;
}

.catalog__item-price,
.catalog__item-price span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);  
}

.catalog__item-price span {
  margin-left: 36px;
  font-size: 30px;
}

.catalog__item-price svg {
  position: absolute;
  width: 31px;
  height: 36px;
  top: 5px;
  left: 80px;
}

.svg-shadow {
  -webkit-filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
          filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
}

.catalog__item-background {
  position: absolute;
  width: 293px;
  height: 405px;
  top: -6px;
  left: -13px;
  display: none;
  
  background: rgba(255,255,255,0.2);
  z-index: 1;
}

.catalog__item:hover .catalog__item-background {
  display: block;
  z-index:3;
} 

.catalog__item:hover .catalog__item-pic,
.catalog__item:hover .catalog__item-price{
  z-index: 4; 
}

.catalog__item-btn {
  display: block;
  margin: 0 auto;
  margin-top: 340px;
  padding: 10px 17px;
  
  border-radius: 18px / 21px;
}

.catalog__item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

/*Стилизация каталога - конец*/

/*Пагинатор - начало*/

.pagination {
  margin: 0;
  margin-top: 43px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 55px;
  
  list-style: none;
  
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.pagination__item {
  text-align: center;
}

.pagination__item a {
  padding-top: 5px;
  display: inline-block;
  
  width: 27px;
  height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  font-weight: 500;
  line-height: 18px;
  
  color: rgb(255,255,255);
  border-radius: 50%;
}

.pagination__item:first-child {
  margin-right: 14px;
  margin-bottom: 30px;
}

.pagination__item:first-child svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); 
}

.pagination__item:first-child path {
  fill: rgba(193,198,206,0.2); 
}

.pagination__item:nth-last-child(2) {
  margin-right: 14px;
}

.pagination__item:last-child {
  margin-bottom: 30px;
}

.pagination__item:last-child svg path {
  fill: rgba(193,198,206,1);
}

.pagination__item:first-child,
.pagination__item:last-child,
.pagination__item:first-child a,
.pagination__item:last-child a {
  width: 8px;
}

.pagination__item:not(.page-rotator) {
  margin-left: 2px;   
}

.actual-page a {
  color: rgb(50,50,50);
  
  background-color: rgb(255,255,255);
}

.selectable-page a:hover {
  background-color: rgba(255,255,255,0.2);  
}

.selectable-page a:active {
  color: rgb(50,50,50);
  
  background-color: rgb(255,255,255);  
}

/*Пагинатор - конец*/

/*Футер*/

.footer-main {
  max-width: 1200px;
  padding: 0 0px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 103px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 186px;
  margin: 0;
  margin-bottom: -7px;
  margin-left: 28px;
  padding: 0;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  
  font-size: 0;
  
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5); 
}

.social__link:hover path {
  opacity: 1; 
}
 
.social__link:hover {
  border: 3px solid rgba(255,255,255,0.7);
}

.social__link:active svg path{
  fill: rgb(233,233,233); 
}

social__link:active {
  border: 3px solid rgba(255,255,255,0.7);
}

.about {
  margin: 0;
  margin-left: 236px;
  margin-top: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 304px;
  height: 45px;
}

.info__item--suppliers {
  margin-right: 31px;
  position: relative;
}

.info__item--suppliers svg {
  position: absolute;
  top: 6px;
  left: -22px;
  width: 15px;
  height: 13px;     
}

.creator-info {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-left: 230px;
  position: relative;
}

.creator-info b {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.creator-info svg {
  display: block;
  margin-top: 15px;
  margin-left: 1px;
}

.creator-info__academy {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.about__item:hover a,
.about_item:active a,
.creator-info__academy:hover,
.creator-info__academy:active
{
  color: rgb(255,188,158);
  border-bottom: 1px solid rgba(255,188,158,0.3)
}

.about__item:hover path,
.about_item:active path {
  fill: rgb(255,188,158); 
}

/*Посещаемые страницы*/

.active-visit {
  background-color: rgb(208,112,88);  
}

.active-visit span {
  border-bottom: none; 
}